<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container text-center">
  <h1>Parabéns, você concluiu o processo.</h1>
  <h2>Sua senha é:</h2>
  <h2 class="alert alert-success">{{senha}}</h2>
  <h3>Obs.: Os critérios selecionados para a geração da senha foram: {{criterios}} </h3>
  <a href="JavaScript: location.reload(true);">Gerar nova Senha</a>
  <br />
  <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
</div>
